<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    <h1> Relative page<h1>
      <li><a href="{% url 'others' %}">OTHERS</a></li>
      <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
      <li><a href="{% url 'relative' %}">RELATIVE</a></li>
    </ul>
  </div>
</nav>
  


</body>
</html>
